html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("https://www.we-heart.com/upload-images/techpopularslots1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}


.objects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: red;
    padding: 10px;
    width: 800px;
    position: relative; right: -500px;
}

.gridItem {
    background-color: #ffffff;
    border: 10px solid rgba(0, 0, 0, 0);
    padding: 40px;
    text-align: center;
    margin: 10px;
}

.payoutTable {
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: red;
    padding: 10px;
    width: 300px;
    position: relative; top: -375px
}

.gridItems {
    background-color: #000000;
    border: 10px solid rgba(0, 0, 0, 0);
    padding: 20px;
    text-align: center;
    margin: 5px;
    color:white
}

.one {
    color:black;
    text-align: left;
    position: relative; top: -400px; right: -540px;
    font-size: 40px;
    background-color: red;
    margin: 20px;
    width: 170px;
}

.max {
    color:black;
    text-align: left;
    position: relative; top: -470px; right: -800px;
    font-size: 40px;
    background-color: red;
    margin: 20px;
    width: 180px;
}

.income {
    color:black;
    text-align: left;
    position: relative; top: -538px; right: -1060px;
    font-size: 40px;
    background-color: red;
    margin: 20px;
    width: 200px;
}

.button {
    color:white;
    text-align: left;
    position: relative; top: -950px; right: -1450px;
    font-size: 50px;
    background-color: red;
    width: 150px;
}